
body {


    
    height: 100vh;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-size:cover;
}

  .card {
    background:rgba(180,180,180, 0.8);
    color:black;
    padding: 50px;
    width: 25%;
    min-width: 350px;
    margin: 135px auto;
    border: gray 1px solid;
    
  
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button{
      width: 30px;
      height: 30px;
      cursor: pointer;
      border-radius: 5px;
      margin: 5px;
      outline: none;
      border: none;
  }
  button:hover{
    background: lightslategray;
  }
  .search-bar {
    border:1px gray solid;
    padding: 5px 10px;
    outline: none;
    padding: auto;
    border-radius: 5px;
    color:black;
    font-family: inherit;
    font-size: 105%;
    
  }
  .icon{
    width: 80px;
    
  }
  .description{
      color:black;
      font-size:18px;
      font-weight:bold;
  }
  .humidity{
    font-size: 18px;
    font-weight:bold;
    margin-top: 10px;
      
  }
  .wind{

    font-size:18px;
    font-weight:bold;
    margin-top: 10px;

  }
  .flag{
    width: 25px;
  }
  .country{
    display: flex;
   align-items: center;
   justify-content: space-between;
  }